.menu-item {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.8;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.menu-item .active {
  color: #d84b40;
}
