.playlist-details {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(34, 37, 42, 0.3), black);
}
.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.logo {
  text-align: center;
}
.header {
  position: relative;
  background-color: #22252a;
  height: 360px;
  padding: 0 0 40px;
}

@media screen and (min-width: 960px) {
  .header {
    padding-top: 56px;
  }
}

.content {
  background-color: black;
}

.md-infos {
  padding: 1em;
  position: relative;
}
