<div class="playlist-details">
  <div class="header">
    <div class="overlay"></div>
    <app-media-infos *ngIf="playlist$ | async as playlist"
      class="md-infos"
      [title]="playlist?.title"
      [creator]="playlist?.creator"
      [creationDate]="playlist?.creation_date"
      [nbTracks]="playlist?.nb_tracks"
      [duration]="playlist?.duration"
      [cover]="playlist?.picture_medium">
    </app-media-infos>
  </div>
  <div class="content">
    <app-tracks *ngIf="tracks$ | async as tracks"
      [tracks]="tracks">
    </app-tracks>
    <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    </div>
  </div>
</div>