<ul>
  <li *ngFor="let track of tracks; let i = index">
    <app-track-item
      [position]="i + 1"
      [title]="track?.title"
      [artist]="track?.artist?.name"
      [duration]="track?.duration">
    </app-track-item>
  </li>
</ul>