<div class="infos">
  <div class="media-img">
    <div class="cover-img" [style.background-image]="'url(' + cover + ')'">
    </div>
  </div>
  <app-media-board [title]="title" [creator]="creator" [creationDate]="creationDate" [nbTracks]="nbTracks" [duration]="duration">
  </app-media-board>
</div>