.infos {
  display: flex;
  flex-direction: column;
}

.media-img {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin: 0 auto;
}

.cover-img {
  background-position: 50%;
  background-size: cover !important;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.1s ease;
  width: 100%;
}
