<div class='mea' (window:resize)="onResize($event)">
    <div class='mea-img'></div>
    <div *ngIf="!showMEA" class='mea-offer-title'>Offrez-vous DEEZIK Premium!</div>
    <div *ngIf="showMEA" class='mea-offer'>
      <div class='mea-offer-title'>Offrez-vous DEEZIK Premium!</div>
    </div>
  </div>