.mea {
  display: flex;
  flex-direction: column;
}

.mea-img {
  display: flex;
  width: 100%;
  height: 250px;
  background-image: url('../../../../../assets/mea_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mea-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 73px;
  background-color: #d84b40;
}

.mea-offer-title {
  font-family: 'Arial';
  width: 300px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: 0.88px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 620px) {
  .mea-img {
    height: 300px;
  }
  .mea-offer-title {
    position: absolute;
    font-size: 22px;
    top: 155px;
  }
}

@media screen and (min-width: 750px) {
  .mea-img {
    height: 350px;
  }
  .mea-offer-title {
    position: absolute;
    font-size: 26px;
    top: 180px;
    left: 30px;
  }
}

@media screen and (min-width: 960px) {
  .mea-offer-title {
    position: absolute;
    width: 350px;
    font-size: 34px;
    top: 180px;
    left: 30px;
  }

  .mea-img {
    height: 420px;
  }
}
@media screen and (min-width: 1120px) {
  .mea-offer-title {
    font-size: 38px;
    width: 390px;
  }
}

@media screen and (min-width: 1280px) {
  .mea-offer-title {
    font-size: 42px;
    width: 420px;
  }
}
