.track-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.8em;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.15px;
  color: white;
  position: relative;
}

.track-position {
  width: 3.5em;
  padding-right: 1em;
  text-align: left;
}
.track-name {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.track-duration {
  text-align: right;
  width: 4em;
}

.second {
  color: hsla(0, 0%, 100%, 0.5);
}
