<div class="track-item">
  <div class="track-position second">
    <span>{{position}} .</span>
  </div>
  <div class="track-name">
    <span>{{title}} - </span>
    <span class="second">{{artist}}</span>
  </div>
  <div class="track-duration second">
    {{duration | minuteSeconds}}
  </div>
</div>