.playlists {
  padding: 30px 0 30px 16px;
}

.container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

.playlists h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.875;
  text-align: left;
  color: #22252a;
  margin: 0 0 20px;
}

@media screen and (min-width: 500px) {
  .playlists h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 620px) {
  .playlists h2 {
    margin-top: 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 960px) {
  .playlists {
    margin: 0 auto;
    width: 960px;
  }
  .container {
    flex-wrap: wrap;
  }
  .playlist {
    width: 33.33%;
  }
  .playlists h2 {
    margin-bottom: 30px;
    font-size: 22px;
  }
}
@media screen and (min-width: 1120px) {
  .playlists {
    width: 1120px;
  }
}
@media screen and (min-width: 1280px) {
  .playlists {
    width: 1280px;
  }
}
