<svg (click)='handleClick($event)' class='hamburger' id="Слой_1" style="enable-background:new 0 0 139 139;" version="1.1"
  viewBox="0 0 139 139" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <style type="text/css">
    .st0 {
      fill: none;
      stroke: white;
      stroke-width: 8;
      stroke-miterlimit: 10;
    }
  </style>
  <line class="st0" id="XMLID_6_" x1="26.5" x2="112.5" y1="46.3" y2="46.3" />
  <line class="st0" id="XMLID_9_" x1="26.5" x2="112.5" y1="92.7" y2="92.7" />
  <line class="st0" id="XMLID_8_" x1="26.5" x2="112.5" y1="69.5" y2="69.5" />
</svg>