.media-board {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-overflow: ellipsis;
  text-align: center;
}

.media-board h1 {
  font-size: 26px;
  font-weight: 600;
  margin: 0.8em 1em 0;
  line-height: 1;
  letter-spacing: 1.196px;
  text-transform: capitalize;
}

.media-board h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.875;
  margin: 0.5em;
}

.media-board span {
  color: hsla(0, 0%, 100%, 0.5);
}

.media-board p {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.75px;
  color: #2ebd59;
}
