<div class="media-board">
  <h1>{{title}}</h1>
  <h2>
    <span>De</span>
    {{creator.name}}
  </h2>
  <p>{{creationDate | date: 'yyyy'}} - {{nbTracks}} TITRES - {{duration | minuteSeconds}}</p>
</div>