<div class='header' (window:resize)="onResize($event)">
    <app-logo></app-logo>
    <app-hamburger *ngIf="mobile" (onclick)='toggleMenu($event)'></app-hamburger>
    <div *ngIf="mobile" [@slideInOut]="state" class="mobile-menu-container">
        <ul class="mobile menu">
            <app-menu-item *ngFor="let route of routes" [route]="route"></app-menu-item>
        </ul>
    </div>
    <ul *ngIf="!mobile" class="desktop menu">
        <app-menu-item *ngFor="let route of routes" [route]="route" class="menu-item"></app-menu-item>
    </ul>
</div>