.header {
  display: flex;
  padding: 0 18px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  background-color: #22252a;
}

.menu {
  display: flex;
  list-style: none;
  overflow: hidden;
}

.desktop {
  flex-direction: row;
}

.menu-item {
  margin-right: 30px;
}

.mobile {
  flex-direction: column;
}

.mobile-menu-container {
  height: 100vh;
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #22252a;
  z-index: 1;
  color: white;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .header {
    position: fixed;
    z-index: 999;
    background-color: #22252a;
  }
}
