<a [routerLink]="['/playlist', data.id]" class="playlist" (window:resize)="onResize($event)">
  <div class="cover">
    <img src={{data.picture_big}}/>
  </div>
  <div *ngIf="mobile" class="title">
      {{data.title}}
  </div>
  <div *ngIf="!mobile" class="overlay">
      <div class="overlay-title">{{data.title}}</div>
      <div class="listen-to-now">Ecouter maintenant</div>
  </div>
</a>