.playlist {
  position: relative;
  display: block;
  margin-right: 20px;
  text-decoration: none;
}

.playlist:hover .overlay {
  opacity: 1;
}

.cover {
  box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
}

.cover img {
  display: block;
  width: 33vw;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.07;
  color: #291b18;
  text-transform: capitalize;
}

.overlay {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0 36px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 0.6;
  text-transform: capitalize;
  top: 0;
  background-color: rgba(34, 37, 42, 0.9);
  transition: all ease-in-out 0.2s;
}

.overlay-title {
  opacity: inherit;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.listen-to-now {
  opacity: inherit;
  font-size: 22px;
  letter-spacing: 2.6px;
  padding: 0.5em;
  color: #d84b40;
  white-space: nowrap;
}

.overlay:hover {
  visibility: visible;
}

@media screen and (min-width: 960px) {
  .cover img {
    width: 100%;
  }
  .playlist {
    margin-bottom: 20px;
  }
}
